.alert {
    background-color: #f8d7da;
    border-color: black;
    color: #721c24;
    padding-top: 20px;
    padding-right: 32px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.alert-success {
    background-color: #d4edda; /* Warna hijau untuk pesan sukses */
    border-color: #c3e6cb; /* Warna border yang cocok */
    color: #155724; /* Warna teks yang cocok */
}

.alert-danger {
    background-color: #f8d7da; /* Warna merah untuk pesan kesalahan */
    border-color: #f5c6cb; /* Warna border yang cocok */
    color: #721c24; /* Warna teks yang cocok */
}
