/* untuk format tabel dilayar hp */
@media only screen and (max-width: 600px) and (orientation: portrait) {
    table {
        width: 100%;
    }

    th,
    td {
        display: block;
    }

    th {
        text-align: left;
    }

    td {
        text-align: center;
    }

    .btn {
        float: none;
        margin-bottom: 10px;
    }

    /* Mengatur tampilan input dalam form-floating */
    .form-floating input {
        height: calc(2.5rem + 2px);
        /* Tinggi input sedikit ditinggikan untuk menampung label */
        padding: 1rem;
        /* Padding agar teks tidak bertabrakan dengan label */
        font-size: 0.875rem;
        /* Ukuran font yang lebih besar */
    }

    /* Mengatur tampilan label dalam form-floating */
    .form-floating label {
        padding: 0.375rem 0.75rem;
        /* Padding label yang lebih besar */
        font-size: 0.875rem;
        /* Ukuran font yang lebih besar */
    }

    /* Mengatur tampilan label saat input aktif atau tidak kosong */
    .form-floating input:focus ~ label,
    .form-floating input:not(:placeholder-shown) ~ label {
        transform: translate(0, -50%) scale(0.75);
        /* Menyesuaikan ukuran dan posisi label */
    }
}
